body {
    background-color: beige;
}

h1 {
    font-family: cursive;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 36px;
    line-height: 2;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.5;
}